.login {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
}

.loginLeft {
    background-image:linear-gradient(rgba(71, 85, 105, 0.21),rgba(71, 85, 105, 0.21)),
        url("../../../img/login.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.loginRight {
    background-color: grey;
    width: 100%;

}

.loginHeader {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.loginHeader h2 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 40px;
    color: #475569;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.loginHeader p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #475569;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}